




*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    background-image: url("/assets/bk-rd.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#title{
    font-family: 'Modak', cursive;
    text-align: center;
    font-size: 150px;
    color: red;
    kerning: 1em;
    line-height: .8em;
    margin-top: 5%;

}